@mixin background-size($width){
	-webkit-background-size: $width;
	-moz-background-size: $width;
	background-size: $width;
}

@mixin border-radius($width){
	-webkit-border-radius: $width;
	-moz-border-radius: $width;
	border-radius: $width;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
} 

@mixin transition($delay){
	-webkit-transition: $delay;
	-moz-transition: $delay;
	transition: $delay;
}

@mixin style-placeholder($color){
	&:focus{color: $color-logo-secondary;}
	&::-webkit-input-placeholder{opacity:0.7; color: $color-logo-secondary;} // Chrome and Opera
	&:-moz-placeholder{opacity:0.7; color: $color-logo-secondary;} // Mozilla firefox 4 to 18
	&::-moz-placeholder{opacity:0.7; color: $color-logo-secondary;} // Mozilla firefox +19
	&:-ms-input-placeholder{opacity:0.7; color: $color-logo-secondary;} // IE + 10
}