@mixin background-size($width){
	-webkit-background-size: $width;
	-moz-background-size: $width;
	background-size: $width;
}

@mixin border-radius($width){
	-webkit-border-radius: $width;
	-moz-border-radius: $width;
	border-radius: $width;
}