* text eol=lf

*.png binary
*.PNG binary
*.jpg binary
*.JPG binary
*.jpeg binary
*.JPEG binary
*.gif binary
*.GIF binary
*.jar binary
*.JAR binary
*.war binary
*.WAR binary
*.zip binary
*.ZIP binary
*.pdf binary
*.PDF binary
*.odt binary
*.ODT binary
*.odp binary
*.ODP binary
*.doc binary
*.DOC binary
*.docx binary
*.DOCX binary
*.xls binary
*.XLS binary
*.xlsx binary
*.XLSX binary
*.dll binary
*.DLL binary
*.crx binary
*.CRX binary
*.cab binary
*.CAB binary
*.jasper binary
*.JASPER binary
*.pspimage binary
*.PSPIMAGE binary
*.swf binary
*.SWF binary
*.xpi binary
*.XPI binary
*.tif binary
*.TIF binary
*.tiff binary
*.TIFF binary
*.bmp binary
*.BMP binary
