---
layout: default
title: Free time  - Palestras para desenvolvedores!
---
<div class="intro">
  <a class="arrow" data-scroll href="#main"></a>
</div>

<main id="main" role="main" class="main">
  {% for post in paginator.posts  %}
	<div id="lectures" class="lectures">
    <article class="lecture-content">
      <a href="{{ post.link }}" class="lecture-thumbnails mfp-iframe" target="_blank">
      	<img src="/assets/image/palestrante-default.jpg" alt="{{ post.title }}" data-echo=" {{ post.img }}">
      </a>

      <a class="lecture-info mfp-iframe" href="{{ post.link }}">
        <span class="lecture-date">Por: {{ post.speakers }}</span>
        <h2 class="lecture-title">{{ post.title  | strip_html | truncate: 47 }}</h2>
      </a>
    </article>
    <p class="pagination">
      {% if paginator.next_page %}
        <a class="older" href="/page{{paginator.next_page}}"></a>
      {% else %}
        <span class="older"></span>
      {% endif %}
    </p>
  </div>
  {% endfor %}
</main>
