<footer class="footer">
  <div class="content">
    <section class="newsletters">
      <h2 class="title-widget">Stay current!</h2>
      
      <p>Stay up to date about upcoming lectures and more content.</p>
      
      <form class="form-newsletters" action="http://github.us10.list-manage.com/subscribe?u=5069be3e154515d1935bfe53e&id=fc34359826" method="post" target="_blank">
        <input type="email" class="email-news" placeholder="seu@email.com" required>
        <button type="submit" class="btn-send-newsletters" value="enviar">Assinar</button>
      </form>
    </section>

    <section class="social">
      <a target="_blank" class="social-link" href="http://twiter.com/free-time">
        <i class="fa fa-twitter-square fa-2x"></i>
      </a>

      <a target="_blank" class="social-link" href="http://github.com/free-time">
        <i class="fa fa-github-square fa-2x"></i>
      </a>
    </section>
  </div>
</footer>
