<footer class="footer">
  <div class="content">
    <section class="newsletters">
      <h2 class="newsletters_title">Mantenha-se atualiza!</h2>
      
      <p class="newsletters_subtitle">Mantenha-se atualizado sobre as próximas palestras e mais conteúdo.</p>
      
      <form action="http://github.us10.list-manage.com/subscribe?u=5069be3e154515d1935bfe53e&id=fc34359826" method="post" target="_blank">
        <input type="email" class="newsletters-form_input" placeholder="Endereço de e-mail" required>
        <button type="submit" class="btn-primary newsletters-form_button">Assinar</button>
      </form>
    </section>

    <section class="social">
      <a target="_blank" class="social_link" href="http://twiter.com/free-time">
        <i class="fa fa-twitter-square fa-2x"></i>
      </a>

      <a target="_blank" class="social_link" href="http://github.com/free-time">
        <i class="fa fa-github-square fa-2x"></i>
      </a>
    </section>
  </div>
</footer>