<footer class="footer">
    <div class="content">
        <section class="widget contributors">
            <h2 class="title-widget">Contribuidores</h2>
            <ul>
                <li><a class="color-link-footer" href="#">Anderson Menezes</a></li>
            </ul>
            <ul>
                <li><a class="color-link-footer" href="http://willianjusten.com.br">Willian Justen</a></li>
            </ul>
            <ul>
                <li><a class="color-link-footer" href="http://blog.da2k.com.br">Fernando Daciuk</a></li>
            </ul>
            <ul>
                <li><a class="color-link-footer" href="http://alanmosko.com.br/">Alan Mosko</a></li>
            </ul>
            <ul>
                <li><a class="color-link-footer" href="https://twitter.com/lucaslimay">Lucas Lima</a></li>
            </ul>
        </section>
        <section class="widget newsletters">
            <h2 class="title-widget">Fique por dentro!</h2>
            <p>Mantenha-se sempre atualizado de todas as novas palestras que tiver e muito mais conteúdos!</p>
            <form class="form-newsletters" action="http://github.us10.list-manage.com/subscribe?u=5069be3e154515d1935bfe53e&id=fc34359826" method="post" target="_blank">
                <i class="fa fa-envelope-o"></i>
                <input type="email" class="email-news" placeholder="seu@email.com" required>
                <button type="submit" class="btn-send-newsletters" value="enviar">Assinar</button>
            </form>
        </section>
        <section class="widget about">
        <h2 class="title-widget">+ sobre o projeto</h2>
            <p class="about-project">O free time é um projeto de <a target="_blank"href="https://github.com/free-time/free-time.github.io">código aberto</a> que reuni diversas palestras em um só local. O projeto não tem fins lucrativos, o que queremos é, facilitar a busca de palestras sobre Desenvolvimento em geral (web, desktop, mobile), Startup.
            <span>Quer fazer parte da equipe ? <a target="_blank" href="https://github.com/free-time/free-time.github.io">Mande sua contribuição!</a></span>
            <span>Está com duvidas ? <a target="_blank" href="https://github.com/free-time/free-time.github.io/issues/18">Compartilhe conosco</a></span>
            </p>
        </section>
        <div class="clear"></div>
        <section class="social">
            <a target="_blank" class="social-link" href="http://twiter.com/free-time"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a target="_blank" class="social-link" href="http://github.com/free-time"><i class="fa fa-github-square fa-2x"></i></a>
        </section>
        </div>
    </div>
</footer>
