<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>{{ page.title }}</title>
	<!-- Meta tags -->
	<meta name="keywords" content="videos,palestras,front-end,back-end,ruby,html,css,html5,css3,programação,nodejs,javascript,angular,php,python">
	<meta name="description" content="Use seu tempo livre pra assistir palestras">
	<meta name="author" href="http://twitter.com/amenezesw" content="Anderson Menezes">
	<!-- Meta tags -->
	
	<!-- Facebook Open Graph -->
	{% if page.categories %}
		{% for category in page.categories limit:1 %}
			<meta content="{{ category }}" property="article:section">
		{% endfor %}
	{% endif %}
	{% if post.tags %}
		{% for tag in post.tags %}
			<meta content="{{ tag }}" property="article:tag">
		{% endfor %}
	{% endif %}
		<meta content="{{ site.title }}" property="og:site_name">
	{% if page.title %}
		<meta content="{{ page.title }}" property="og:title">
	{% else %}
		<meta content="{{ site.title }}" property="og:title">
	{% endif %}
	{% if post.description %}
		<meta content="{{ post.description }}" property="og:description">
	{% else %}
		<meta content="{{ site.description }}" property="og:description">
	{% endif %}
	{% if page.url %}
		<meta content="{{ site.url }}{{ page.url }}" property="og:url">
	{% endif %}
	{% if page.date %}
		<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
		<meta content="{{ site.url }}/sobre/" property="article:author">
	{% endif %}
	{% if page.img %}
		<meta property="og:image" content="{{ site.url }}{{post.img }}">
	{% else %}
		<meta content="/assets/image/logo-open-graph.png" property="og:image">
	{% endif %}
	{% if page.categories %}
		{% for category in page.categories limit:1 %}
			<meta content="{{ category }}" property="article:section">
		{% endfor %}
	{% endif %}
	{% if page.tags %}
		{% for tag in page.tags %}
			<meta content="{{ tag }}" property="article:tag">
		{% endfor %}
	{% endif %}
	<!-- Facebook Open Graph -->

	<!-- Favicon -->
		<link rel="shortcut icon" href="/assets/image/favicon.ico" type="image/x-icon">
	<!-- Favicon -->
	<link rel="stylesheet" href="/assets/css/main.css">
</head>