{% include github.html %}
<header class="header">
  <div class="content">
    <h1 class="logo">
      <a href="/">Free <span>time</span></span></a>
    </h1>
    
    <input type="checkbox" id="control-nav" />
    <label for="control-nav" class="control-nav"></label>
    <label for="control-nav" class="control-nav-close"></label>
    
    <nav class="navigation">
      <ul>
      	<li><a class="nav-itens" href="/about.html">sobre</a></li>
      	<li><a class="nav-itens nav-category" href="#">categorias</a>
          <ul class="sub-menu">
            <li><a class="sub-menu-itens"href="/categories/html/">html</a></li>
            <li><a class="sub-menu-itens"href="/categories/css/">css</a></li>
            <li><a class="sub-menu-itens"href="/categories/javascript/">javascript</a></li>
            <li><a class="sub-menu-itens"href="/categories/android/">android</a></li>
            <li><a class="sub-menu-itens"href="/categories/mobile/">mobile</a></li>
            <li><a class="sub-menu-itens"href="/categories/rails/">rails</a></li>
            <li><a class="sub-menu-itens"href="/categories/python/">python</a></li>
            <li><a class="sub-menu-itens"href="/categories/workflow/">workflow</a></li>
            <li><a class="sub-menu-itens"href="/categories/produtividade/">produtividade</a></li>
            <li><a class="sub-menu-itens"href="/categories/api/">Api</a></li>
            <li><a class="sub-menu-itens"href="/categories/mercado/">mercado</a></li>
            <li><a class="sub-menu-itens"href="/categories/wordpress/">wordpress</a></li>
            <li><a class="sub-menu-itens"href="/categories/startup/">startup</a></li>
            <li><a class="sub-menu-itens"href="/categories/seo/">seo</a></li>
            <li><a class="sub-menu-itens"href="/categories/design/">Design</a></li>
            <li><a class="sub-menu-itens"href="/categories/git/">Git</a></li>
          </ul>
        </li>
      	<li><a target="_blank" class="nav-itens" href="https://github.com/free-time/free-time.github.io#como-enviar-uma-palestra">enviar palestra</a></li>
      	<li><a class="nav-itens" target="_blank" href="http://github.com/free-time">contribuir</a></li>
      </ul>
    </nav>
  </div>
</header>
