<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	
  <!-- Meta tags -->
	<meta name="keywords" content="videos,palestras,front-end,back-end,ruby,html,css,html5,css3,programação,nodejs,javascript,angular,php,python">
	<meta name="description" content="Uma reunião de palestras com conteúdos diversos, deixando seu conhecimento ainda mais insano.">
	<meta name="author" href="http://twitter.com/amenezesw" content="Anderson Menezes">

	<!-- Facebook Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  {% if post.image %}
  <meta property="og:image" content="{{ site.url }}{{"/assets/image/icon.png" }}">
  {% else %}
  <meta property="og:image" content="{{ "/assets/image/logo-open-graph.png" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.date %}
  <meta property="article:published_time" content="{{ post.date }}" />
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor%}
  {% endif %}

	<!-- Social: Google+ / Schema.org  -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{"/assets/image/icon.png" }}">
  {% else %}
  <meta itemprop="image" content="{{ "/assets/image/logo-open-graph.png" | prepend: site.baseurl | prepend: site.url }}"/>
  {% endif %}

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@amenezesw">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %}
  <meta property="twitter:image:src" content="{{ site.url }}{{"/assets/image/icon.png" }}">
  <meta property="twitter:image:src" content="{{ "/assets/image/icon.png" | prepend: site.baseurl | prepend: site.url }}">
  {% else %}
  <meta property="twitter:image:src" content="{{ "/assets/image/logo-open-graph.png" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}

	<!-- Favicon -->
  <link rel="shortcut icon" href="/assets/image/icon.png" type="image/x-icon">
	<link rel="stylesheet" href="/assets/css/main.css">
</head>
