<header class="header">
    <div class="main">
        <h1 class="logo">
        <a href="/">
          <img src="/assets/image/logo.png">
        </a>
      </h1>
        <section class="advertising">
            <a href="http://leokz.com/campanha/" target="_blank"><b>Ajude o Leonardo</b> a vencer o câncer.</a>
        </section>
        <!-- <section class="search">
            <input type="search" placeholder="O que você está procurando?">
            <button class="btn-search">Buscar</button>
        </section> -->      
    </div>
</header>
<nav class="header-nav">
    <div class="main">
        <ul>
            <li class="header-list"><a href="/"><i class="fa fa-home fa-2x"></i></a></li>
            <li class="header-list"><a href="/html">HTML</a></li>
            <li class="header-list"><a href="/css">CSS</a></li>
            <li class="header-list"><a href="/javascript">Javascript</a></li>
            <li class="header-list"><a href="/mobile">Mobile</a></li>
            <li class="header-list"><a href="/python">Python</a></li>
            <li class="header-list"><a href="/node-js">Node js</a></li>
            <li class="header-list"><a href="/angular">Angular</a></li>
            <li class="header-list"><a href="/ruby">Ruby</a></li>
            <li class="header-list"><a href="/polymer">Polymer</a></li>
            <li class="header-list"><a href="/startup">Startup</a></li>
            <li class="header-list"><a href="/workflow">Workflow</a></li>
        </ul>
    </div>
</nav>
