.footer{
	clear: both;
	padding: 15px;
	height: 340px;
	background: url(/assets/image/bg-footer.jpg) #181415;
	position: relative;
	top: 30px;
}
.color-link-footer {
	color: $color-logo-primary;

	&:hover {text-decoration: underline;color: #F5F5F5;}
}
.title-widget{
	color: $color-logo-primary;
	font-style: italic;
	text-align: left;
	font-size: $fontSize-default + 8;
	border-bottom: 1px solid $color-logo-primary;
	padding-bottom: 10px;
}
.contributors {
	width: 350px;	
	padding-bottom: 30px;
	margin-left: 20px;
	float: left;

	ul {
		float: left;
		width: 145px;
		margin-right: 30px;
	}

	li {
		margin: 5px 0;
		padding-bottom: 8px;
	}
	a {
		color:$color-logo-primary;
		@include transition(.4s color);
		&:hover {
			text-decoration: none;
			color:$color-logo-secondary;
		}
	}
}
.about-logo-footer {
	width: 350px;
	float: right;
	padding: 18px 0 0 0;
	margin-right: 20px;
	img {
		max-width: 200px;
		float: right;
		margin: 0 0 20px 0;
		display: block;
	}
	p {
		text-align: justify;
		color: $color-text-footer;
		line-height: 28px;
		clear: both;
	}
	a {
		color:$color-logo-primary;
		@include transition(.4s color);
		&:hover {
			color:$color-logo-secondary;
		}
	}
}
.newsletters{
	width: 380px;
	margin-left: 40px;
	float: left;

	input[type=text]{
		font-size: $fontSize-default;
		width: 100%;
		margin: 15px auto;
		background: #D7D7D7;
		@include style-placeholder($color-logo-primary);
	}
	p{
		color: $color-text-footer;
		text-align: center;
		margin-bottom:0;
	}
	i{
		color: $color-logo-secondary;
	  position: relative;
	  float: left;
	  top: 28px;
	  left: 10px;
	  font-size: 1.1em;
	}
}
.email-news{
	display: block;
	padding: 10px 15px 10px 35px;
	margin: 20px 0;
	border: none;
	border-radius: 5px;
	width: 100%;
	background:#E4E4E4;
	box-sizing: border-box;
	outline: none;
}
.create{
	text-align: center;
	display: block;
	color: #FFF;
	font-size: $fontSize-default;
}
.social-link{
	color: $color-logo-primary;
}
.social{
	position: absolute;
	bottom: 10px;
	right: 50%;
}
.hosted{
	width: 120px;
	position: absolute;
	right: 25px;
	bottom: 10px;
	color: $color-logo-primary;
}
.github{
	width: 120px;
	height: 40px;
	margin-top: 10px;
	margin-left:6px;
	float: left;
	background: url('/assets/image/github-logo.png')no-repeat;
	@include background-size(100px);	
	display:block;
	font-size:0;
}
