.footer {
	clear: both;
	padding: 15px;
	height: auto;
	background: $footer;
	position: relative;
	top: 30px;
	text-align: center;
	@include cf();
}

.color-link-footer {
	color: $color-logo-primary;

	&:hover {
		text-decoration: underline;
		color: #F5F5F5;
	}
}

// .widget {
// 	margin-bottom:5%;
// 	@include stack();
// 	@include cf();
// 	@include respond-to(medium-t) {
// 		@include col(4/12, $cycle: 3, $gutter: 4);
// 		margin-bottom: 0;
// 	} 

// 	@include respond-to(wide-screens) {
// 		@include col(4/12, $cycle: 3, $gutter: 4);
// 		margin-bottom: 0;
// 	}
// }

.title-widget {
	font-size: 40px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 0;
}

// .about-project {
// 	color: $color-text-footer;
// 	line-height: 25px;
// 	text-align: justify;

// 	a {color: $color-logo-primary;}

// 	span {display: block}

// 	@include respond-to(handhelds-o){
// 		margin-bottom: 15%;
// 		text-align: center;
// 	}

// 	@include respond-to(handhelds-t){
// 		margin-bottom: 10%;
// 		text-align: center;
// 	}

// 	@include respond-to(medium-o){
// 		text-align: center;
// 	}
// }

// .contributors {
// 	padding-bottom: 30px;

// 	ul {
// 		float: left;
// 		width: 145px;
// 		margin-right: 30px;
// 	}

// 	li {
// 		margin: 5px 0;
// 		padding-bottom: 8px;
// 	}

// 	a {
// 		color:$color-text-footer;
// 		@include transition(.4s color);

// 		&:hover {
// 			text-decoration: none;
// 			color: $color-logo-primary;
// 		}
// 	}
// }

.newsletters {
	p {
		color: #ccc;
		font-size: 18px;
		margin-bottom: 0;
		margin-top: 5px;
	}

	// i {
	// 	color: #999;
	// 	position: absolute;
	// 	float: left;
	// 	top: 15px;
	// 	left: 10px;
	// 	font-size: 2em;
	// }
}

.form-newsletters {
	position: relative;
	margin-top: 30px;
}

.email-news {
	display: inline-block;
	padding: 15px 50px;
	margin: 20px 0;
	border: none;
	border-radius: 3px;
	vertical-align: middle;
	height: 60px;
	line-height: 60px;
	width: 400px;
	background:#E4E4E4;
	box-sizing: border-box;
	outline: none;
	@include transition(.4s all);
}

.create {
	text-align: center;
	display: block;
	color: #FFF;
	font-size: $fontSize-default;
}

.social {
	margin-top: 30px;
}

.social-link {
	color: darken($footer, 10%);
	@include transition(.3s color);
	
	&:hover {
		color: $blue;
	}

	&:first-of-type {
		margin-right: 10px;
	}
}