.header {
	height: 85px;
	line-height: 80px;
	background: $backgroundHeader;
}

.logo {
	@include col(1/4);
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 100;
	text-transform: uppercase;
	a{
		color: $white;
		font: 700 40px $fontFamilyDefault;
	}
}

