.content{
	max-width: $max-width;
	padding:0 20px;
	margin: 0 auto;
	@include clearfix();
}

.main{
	max-width: $max-width;
	margin: 0 auto;
	@include clearfix();
}
.all{
	float: right;
	a{
		background: $color-logo-primary;
		padding: 5px;
		font-size: 14px;
		font-family: 'arial';
	}
}
.test{
	p{background: blue;}
}
.lectures{
	width: 18%;
	height: 400px;
	float: left;
	margin: 2.5% 2.5% 0 0;
	position: relative;
	background: #FFFFFF;
	padding: 20px 15px 15px 15px;
	border: 1px solid #DFDFDF;
	@include border-radius(5px);
	@include box-shadow(0, 2px, 8px, #ccc);
	@include transition(.8s box-shadow, .6s transform);
	&:hover{
		@include scale(1.05);
		@include box-shadow(0, 4px, 16px, #ccc);
	}
	@include respond-to(handhelds-o){ width:100%; margin: 2.5% 0 0 0; }
	@include respond-to(handhelds-t){ width:48.7%; &:nth-of-type(2n){ margin: 2.5% 0 0 0; }	}
	@include respond-to(medium-o){ width:31.6%;	&:nth-of-type(3n){ margin: 2.5% 0 0 0; } }
	@include respond-to(medium-t){ width:23.1%;	&:nth-of-type(4n){ margin: 2.5% 0 0 0; }}
	@include respond-to(wide-screens){ &:nth-of-type(5n){ margin: 2.5% 0 0 0; }	}
}
.lecture-content{
	width: 100%;
	height: 100%;
	overflow: hidden; 
}
.lecture-thumbnails{
	width: 180px;
	height: 178px;
	position: relative;
	margin:0 auto;
	display: block;

	&:after{
		content: '';
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		background: url('/assets/image/bg-lecture.png')no-repeat;
		background-size:100%;
		z-index:99;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover
	}
}
.title-lecture{
	margin: 10px 0 20px 10px;	
	font-family: 'Arial';
	font-size: $fontSize-default;
	overflow: hidden;
	height: 100px;
	color: $color-link-lecture;
	&:after{
		content: "";
		display: inline-block;
		width: 100%;
	}
	&:hover{
		color: $color-link-lecture + 35;
	}
	ul {
		list-style: none;
		margin-top: 10px;
	}
}
.speakers{
	color: $color-logo-secondary;
}
