.content {
  @include center($max-width);
  padding: 0 15px;
}

.main {
  @include center($max-width);
  text-align: center;
  padding: 20px;
}

.intro {
  height: 100vh;
  background: url(../image/bg-intro.jpg) no-repeat center top fixed;
  background-size: cover;
  position: relative;

  &:before {
    content: '';
    background: rgba(black, 0.8);
    height: 100%;
    width: 100%;
    display: block;
  }

}

.lectures {
  text-align: center;
  position: relative;
  margin: 15px 0;
  @include col(1 / 4, $cycle: 4);

  @include respond-to("handhelds") {
    @include col(1 / 1);
  }

  @include respond-to("medium-screens") {
    @include col(1 / 2, $cycle: 2);
  }
}

.lecture-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;

  &:hover {
    .lecture-icon {
      top: 35px;
    }
  }
}

.lecture-thumbnails {
  width: 100%;
  height: 125px;
  position: relative;
  margin: 0 auto;
  display: block;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($blue, 0.35);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.lecture-info {
  border: 1px solid #eee;
  border-top: 0;
  padding: 10px;
  display: block;
  text-align: left;
  min-height: 120px;
}

.lecture-date {
  font-weight: 300;
  color: #CCCCCC;
  font-size: 13px;
}

.lecture-title {
  color: $color-primary;
  font-weight: 400;
  margin-top: 5px;
  font-size: 18px;
  line-height: 25px;

  &:hover {
    color: $color-primary + 35;
  }
}

.center-page {
  @include center(960px);
  padding: 0 20px;
}

.text-page-external {
  @include col(1 / 1);
}

.text-page-external {
  p {
    text-align: justify;
    line-height: 25px;
    font-size: $fontSize-default - 2;
    padding: 0 15px;
  }

  h2 {
    color: $blue;
    font: ($fontSize-default + 10) $fontFamilyDefault;
    border-bottom: 1px solid #E4E4E4;
    padding: 0 0 20px 10px;
  }

  a {
    color: $blue;
  }
}

.text-page-external {
  height: 100%;
  background: #FFF;
  margin: 20px 0;
}

.title-categories {
  font-family: $fontFamilyDefault;

  span {
    color: $blue;
    text-transform: uppercase;
  }
}

.intro-page {
  max-width: 100%;
  height: 300px;
  background: url("../image/intro-page.jpeg") center;
  position: relative;
  background-size: cover;

  &:before {
    content: "";
    background: rgba(black, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @include respond-to("wide-screens") {
    background: url("../image/intro-page.jpeg") center -360px;
  }
}