.nav {
	width: 100%;
	background: $bg-nav;
	text-align: center;
	min-height: 45px;
  line-height: 45px;
  margin-bottom: 50px;
  border-top: 1px solid #E9F0F3;
  border-bottom: 1px solid #E9F0F3;
  @include clearfix();
	.content {
		display: table;
		width: 100%;
		height: 100%;
	}
}

.nav-menu_list {
	display: inline-block;
	vertical-align: middle;
	a {
		font-size: 14px;
		color: $color-nav;
		display: block;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.nav-menu_select {
	padding: 0 20px;
	border: 0;
	width: 100%;
	height: 45px;
	display: none;
}
.navigation {
	@include col(2/4, $offset: 1/4);
	li{
		display: inline-block;
		margin-left: 30px;
		&:hover ul{ display: block }
	}
}
.nav-itens{
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	color: $linkNav;
	font-family: $fontFamilyDefault;
	&:hover{
		color: $color-primary;
	}
}
.sub-menu{
	background: $color-primary;
	position: absolute;
	z-index: 999;
	padding: 10px 20px;
	display: none;
	margin-right: 30px;
	li{
		@include col(1/2, $cycle: 2);
		&:hover{
			background: #0C77B0;
		}
	}
}
.sub-menu-itens{
	display: block;
	color: #fff;
	font: bold 14px $fontFamilyDefault;
	text-transform: uppercase;
	margin: 0;
	padding: 20px;
	text-align: center;
}
.nav-category{
	&:after{
		content: url('../image/arrow-hover.png');
		position: relative;
		left: 5px;
		top: -2px
	}
}