// Comentário sobre esse botão
.btn-default{
	width: 90%;
	margin-top: 20px;
	margin: 0 auto;
	@include border-radius(5px);
}
.btn-default--link{
	color: $btn-color-link;
	text-align: center;
	display: block;
	font-size: $fontSize-default;
	padding: 12px;
}
.watch{
	display: block;
	margin-top: 20px;
	background: $watch-bottom;
	border-bottom: 4px solid $watch-bottom - 100;
}
.btn-search{
	width: 25px;
	height: 21px;
	display: block;
	position: absolute;
	bottom: 15px;
	right: 0px;
	background: url("/assets/image/search_icon.png");
}