%btn {
	display: inline-block;
	color: $white;
	padding: 6px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	border: 1px solid transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		background: $color-secondary;
		color: $white;
	}

	&:active {
		background: $color-secondary - 20;
		color: $color-secondary - 90;
		top:1px;
	}

	&:focus {
		outline: none;
	}
}

.btn-primary {
	@extend %btn;
	background: $color-primary;
}