// Defining colors
$white: #FFF;
$black: #000;
$gray: #333;
$blue: #0099FF;
$blue-light: #F6F9FA;
$blue-dark: #323A45;
$navy: #42B4D6;
$vine: #D90452;

// Primary, Secondary & text colors
$color-primary: $blue;
$color-secondary: $vine;
$color-nav: $navy;

// BG colors
$bg-body: $white;
$bg-nav: $blue-light;
$bg-footer: $blue-dark;

// Font-sizes
$fontSize-default: 18px;
$fontFamilyDefault: 'Raleway', Arial, sans-serif;
$fontSize-titlePages: 30px;

// Grids sizes
$max-width: 1200px;
$break-small-o: 410px;
$break-small-t: 650px;
$break-medium: 820px;
$break-large: 1024px;