$color-logo-primary: #F2D750;
$color-logo-secondary: #D90452;
$watch-bottom: #CF3A24;
$btn-color-link: #FFF;
$fontSize-default: 18px;
$fontSize-titlePages:30px;
$background-menu-header: #3a3a3a;
$background-menu-header-hover: #303030;
$color-header-link: #E5E5E5;
$color-link-lecture: #008699;
$color-text-footer: #fff;

$max-width: 1200px;
$break-small-o: 410px;
$break-small-t: 650px;
$break-medium: 820px;
$break-large: 1024px;