$blue: #0099FF;

$color-logo-primary: #F2D750;
$color-logo-secondary: #D90452;
$watch-bottom: #CF3A24;
$btn-color-link: #FFF;
$fontSize-default: 18px;
$fontSize-titlePages:30px;
$background-menu-header: #F6F9FA;
$background-menu-header-hover: #303030;
$color-header-link: #42B4D6;
$color-link-lecture: $blue;
$color-text-footer: #fff;
$footer: #323a45;

$max-width: 1200px;
$break-small-o: 410px;
$break-small-t: 650px;
$break-medium: 820px;
$break-large: 1024px;