<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    
    
    {{ content }}

    {% include footer.html %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/main.js" ></script>
    <!-- Start popup-->
    <script>
      echo.init({
        offset: 100,
        throttle: 250,
        unload: false,
      });
      
      $('.mfp-iframe').magnificPopup({type:'iframe'});
    </script>
  </body>
</html>
